/* === START Universal selector for page position === */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* === END Universal selector for page position === */

/* === START grouped selectors === */
body {
    background-color: #d9dcd6; /* full page font color */
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px; /* all paragraph font size */
}

h1{
    display: inline-block;
    font-size: 48px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
 }

li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
    }
    
img {/* image height for all but hero */
        max-height: 200px;
    }
/*=== END grouped selectors === */


/* ===START Class Selectors=== */

/* --- START Nav bar styling--- */
.header { 
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.seo {
    color: #d9dcd6; /* seo in Horiseon color */
}

.header-container { /* Nav bar responsive up to 1023 width */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* --- END Nav bar styling--- */


.hero { /* Meeting photo styling below Nav bar */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*---START Content div Styling---*/
.float-left {/*content image display left*/
    float: left;
    margin-right: 25px;
}

.float-right {/*content image display right*/
    float: right;
    margin-left: 25px;
}

.content { /*---Content box---*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-section{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*---END Content div Styling---*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri' , 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*---START Benefits div Styling---*/

.benefits-section {
    margin-bottom: 32px;
    color: #ffffff;
}
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*---END Benefits div Styling---*/

.sidebar-img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*---START footer Styling---*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
/*---END footer Styling---*/
/*=== END Class Selectors === */